<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>There was an error handling your request</h1>
    <% if (errorMsg) { %>
    <h2><%= errorMsg %></h2>
    <% } else { %>
    <h2>No error specified</h2>
    <% } %>
  </body>
</html>
