<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>logged_in_user</title>
  </head>
  <body>
    <h2>home</h2>
    <button id="logout"><a>Logout</a></button>
    <br />
    <button id="profile_button"><a href="/profile">Show Profile</a></button>
    <script>
      document.getElementById('logout').addEventListener('click', () => {
        fetch('/logout', {
          method: 'POST',
          credentials: 'include', // Include session cookies
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.redirect) {
              window.location.href = data.redirect; // Manually redirect the user
            }
          })
          .catch((err) => console.error('Error logging out:', err));
      });
    </script>
  </body>
</html>
