<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>logged_in_user</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>home</h1>

    <% if (logged_in) { %>
    <button id="profile_button"><a href="/profile">Show Profile</a></button>
    <button id="logout"><a>Logout</a></button>
    <% } else { %>
    <button id="login"><a href="/login">Login</a></button>
    <% } %>

    <h3>List of subforums:</h3>
    <% subforumList.forEach(element => { %>
    <h5>
      <a href="/s/<%= element['name'] %>">Subforum <%= element['name'] %> </a>
    </h5>
    <% }) %>

    <script>
      document.getElementById('logout').addEventListener('click', () => {
        fetch('/logout', {
          method: 'POST',
          credentials: 'include',
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.redirect) {
              window.location.href = data.redirect;
            }
          })
          .catch((err) => console.error('Error logging out:', err));
      });
    </script>
  </body>
</html>
