<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <div id="navi">
      <br />
      <ul class="naviLink">
        <li><a href="/"> HOME </a></li>
        <li><a href="login.ejs"> LOGIN </a></li>
      </ul>
      <br />
      <br />
    </div>

    <form action="/register" method="POST" id="form">
      <label for="username">Username: </label>
      <input type="text" name="username" id="username" class="register_input" />
      <p id="username_warning"></p>
      <br />
      <label for="password">Password: </label>
      <input
        type="password"
        name="password"
        id="password"
        class="register_input"
      />
      <br />
      <label for="re_password">Repeat Password: </label>
      <input
        type="password"
        name="re_password"
        id="re_password"
        class="register_input"
      />
      <p id="password_warning">Passwords do not match</p>
      <br />
      <label for="bday">Birthday: </label>
      <input type="date" name="bday" id="bday" class="register_input" />
      <br />
      <label for="impressum">
        Setting this checkmark means you confirm that you read the contents of the <a href="/impressum">Impressum</a>
      </label>
      <input type="checkbox" name="impressum" id="impressum" required/>
      <br />
      <button type="submit">Register</button>
    </form>

    <footer>
      <div>&copy; 2025 SubmitIt. All rights reserved.</div>
      <div class="footer-links">
        <a href="/impressum">Impressum</a>
        <a href="/privacy">Data Privacy</a>
      </div>
    </footer>

    <script>
      const showWarning = (text, warning_element) => {
        warning_element.style.display = 'block';
        warning_element.innerHTML = text;
        document.querySelector('form').addEventListener('submit', (e) => {
          e.preventDefault();
        });
      };

      // validate username
      document.querySelector('#username').addEventListener('blur', () => {
        let username = document.querySelector('#username').value;
        let username_warning = document.querySelector('#username_warning');

        fetch('/user/validateUsername', {
          headers: { 'Content-Type': 'application/json' },
          method: 'POST',
          body: JSON.stringify({ user: username }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.response !== 'Successful') {
              showWarning(data.response, username_warning);
            } else {
              username_warning.style.display = 'none';
            }
          })
          .catch((error) => {
            console.error('Error validating username:', error);
          });
      });

      document.querySelector('#re_password').addEventListener('blur', () => {
        let pass1 = document.querySelector('#password').value;
        let pass2 = document.querySelector('#re_password').value;
        let password_warning = document.querySelector('#password_warning');

        // passwordvalidation length
        if (pass1.length < 8 || pass1.length > 100) {
          showWarning(
            'Password must be between 8 and 100 characters!',
            password_warning
          );
        } else {
          password_warning.style.display = 'none';
        }

        // passwordvalidation match
        if (pass1 !== pass2) {
          showWarning('Passwords do not match!', password_warning);
        } else {
          password_warning.style.display = 'none';
        }
      });
    </script>
  </body>
</html>
