<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View post</title>
  </head>
  <body>
    <h2>Viewing post <%= post['post_id'] %></h2>
    <h3><%= post['title'] %></h3>
    <h3><%= post['content'] %></h3>
    <p>Posted by <%= post['posted_by'] %></p>
  </body>
</html>
