@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Roboto", sans-serif;
  color: greenyellow;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;}

* {
  margin: 0;
}

body {
    background-color: rgb(255, 255, 255)
};

#password_warning,
#username_warning {
  display: none;
  color: red;
}

form {
  text-align: center;
  border-radius: 10px;
    background-color: aqua;
}
#username, #password, #submit {
  background-color: gray;
  color: white;
}

#navi {
  background-color: gray;
}

.naviLink {
  color: white;
  padding-left: 15px;
  display: flex;
  list-style: none;
}

.naviLink a {
  color: white;
}